body{
  background-image: url(background.jpg);
  background-size: cover;

}

#centramentocontenuto{
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5%;
  border-radius: 10px 10px 10px 10px;
  font-family: sans-serif;

}
#centramentologo{
  text-align: center;
}

#centramentologo, #centramentocontenuto{
  width: 750px;
}

.logo{
   width: 250px;

}

.navigazione{
  background-color: lime;
  width:auto;
  height: auto;
  padding: 1%;
}

.freccia:before{
  content: "⇒";
}

h1{
  color: lime;
}

h2{
  display: inline-block;
}

h2,p{
  margin: 0;
  color: white;
}

section{
 margin-top: 20px;
}

 .carica{
   height: 20px;
   border-radius: 5px 5px 5px 5px;
 }

 .media {
   background-color: rgb(205,133,63) ;
   width: 40%;
 }

 .piena{
   width: 60%;
   background-color: lime;
 }

 .bassa{
   width: 10%;
   background-color: red;
 }
